.article-frame {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 40px;
    
  }

  h3{
    background-color: white;
    width : 490px;
    margin-left : 20px;
    margin-top: -25px;
  }